* {
    background-color: #F3F5FC;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    line-height: 48px;
} 



.logo__cabecalho{
    margin-left: 40px;
    margin-top: 40px;
    width: 8%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
} 

.text__area {
    border: none;
    color: #0A3871;
    font-size: 36px;
    margin-top: 50px;
    text-transform: lowercase;
}

::placeholder {color: #0A3871; }
    .text__area:focus{
         outline: none;
     }

.dica {
    color: #0A3871;
    font-size: 28px;
}

.botoes{
    display: flex;
    margin-top: 15px;
} 

.btn__encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 10px;
    color: #EED6C4;
    cursor: pointer;
    height: 58px;
    width: 300px;
}


.btn__desencriptar {
    background-color: #D8DFE8;
    border: 1px solid #D8DFE8;
    border-radius: 10px;
    color: #0A3871;
    cursor: pointer;
    height: 58px;
    width: 300px;
    margin-left: 50px;
}


.btn__copiar{
    border: 1px solid #0A3871;
    border-radius: 10px;
    color: #0A3871;
    cursor: pointer;
    height: 58px;
    width: 328px;
    margin-left: 148px;
    margin-top: 402px;
    position: absolute;
}



.resultado {
    background-color: #FFFFFF;
    border: none;
    font-size: 32px;
    border-radius: 24px;
    color: #495057;
    margin-left: 98px;
    margin-top: 20px; 
    padding-left: 20px;
    position: fixed;
}

.resultado:focus {
    outline: none;
} 

footer {
    /*grid-column: 1 / 3;
    grid-row: 5;*/
    place-self: end;
    background-color: #0a3871;
    color: white;
    border-radius: 24px;
    text-align: center;
    padding: 12px 0px 10px 0px;
    width: 100%;
    margin-top: 5%;
  } 

  a {
    text-decoration: none;
    
  } 

   .logo__github{
    transform: translate(16%, 14%);
    margin: -10px 0 0 0;
    background-color: transparent;
    padding: 0;
  } 

  .link_meugit {
    background-color: transparent;
    color: #D8DFE8;
  }




